object ApiUser "root" {
  password = "icinga"
  client_cn = NodeName
  permissions = [ "*" ]
}

object ApiUser "icingaweb2" {
  password = "apiicingaweb2#2017"
  client_cn = NodeName
  permissions = [ "status/query", "actions/*", "objects/modify/*", "objects/query/*" ]
}
