# {{ ansible_managed }}

deb https://packages.icinga.com/debian/ icinga-{{ ansible_distribution_release }}-snapshots main
deb-src https://packages.icinga.com/debian/ icinga-{{ ansible_distribution_release }}-snapshots main
